{% comment %}
  link tag to vendor folder
  <link rel="stylesheet" href="{{ site.vendor_location }}/">
{% endcomment %}

  <link rel="stylesheet" href="{{ site.vendor_location }}/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.vendor_location }}/font_awesome/css/font-awesome.css">


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="{{ site.css_location }}/main.css">
